menu "HMI Board Config"

    choice BSP_LCD_BOARD
        prompt "Select BSP board"
        default BSP_BOARD_ESP32_S3_BOX
        config BSP_BOARD_ESP32_S3_BOX
            bool "BSP board esp32_s3_box"
        config BSP_BOARD_ESP32_S3_BOX_Lite
            bool "BSP board esp32_s3_box_lite"
    endchoice

    config BSP_TOUCH_BUTTON
        depends on BSP_BOARD_ESP32_S3_BOX
        bool "Enable esp32_s3_box touch button"
        default y
        help
            Whether to enable the touch button.
endmenu