[submodule "components/lvgl/lv_demos"]
	path = components/lvgl/lv_demos
	url = https://github.com/lvgl/lv_demos.git
[submodule "components/lvgl/lvgl"]
	path = components/lvgl/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "components/esp-sr"]
	path = components/esp-sr
	url = https://github.com/espressif/esp-sr.git
[submodule "components/esp-rainmaker"]
	path = components/esp-rainmaker
	url = https://github.com/espressif/esp-rainmaker.git
