CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_ESP32_S3_CUBE_BOARD=y
CONFIG_SR_MODEL_WN8_QUANT=y
CONFIG_SR_ENGLISH=y
CONFIG_SPEECH_COMMANDS_NUM=32
CONFIG_EN_SPEECH_COMMAND_ID0="R,g,B,o,T"
CONFIG_EN_SPEECH_COMMAND_ID1="K,R,a,s"
CONFIG_EN_SPEECH_COMMAND_ID2="B,a,K"
CONFIG_EN_SPEECH_COMMAND_ID3="h,b,M"
CONFIG_EN_SPEECH_COMMAND_ID4="K,c,N,T,R,b,L, ,P,a,N,c,L"
CONFIG_EN_SPEECH_COMMAND_ID5="L,i,T, ,K,c,N,T,R,b,L"
CONFIG_EN_SPEECH_COMMAND_ID6="M,f,M,k,m, ,g,N,F,k,M,d,s,c,N"
CONFIG_EN_SPEECH_COMMAND_ID7="M,f,M,k,m, ,g,N,F,k,M,d,s,c,N"
CONFIG_EN_SPEECH_COMMAND_ID8="V,n,L,Y,o,M, ,K,c,N,T,R,b,L"
CONFIG_EN_SPEECH_COMMAND_ID9="B,a,K,L,i,T, ,K,c,N,T,R,b,L"
CONFIG_EN_SPEECH_COMMAND_ID10="T,k,N, ,n,N, ,j,c, ,L,i,T"
CONFIG_EN_SPEECH_COMMAND_ID11="T,k,N, ,e,F, ,j,c, ,L,i,T"
CONFIG_EN_SPEECH_COMMAND_ID12="T,k,N, ,R,f,D"
CONFIG_EN_SPEECH_COMMAND_ID13="T,k,N, ,G,R,m,N"
CONFIG_EN_SPEECH_COMMAND_ID14="T,k,N, ,B,L,o"
CONFIG_EN_SPEECH_COMMAND_ID15="T,k,N, ,W,i,T"
CONFIG_EN_SPEECH_COMMAND_ID16="T,k,N, ,M,a,K,S"
CONFIG_EN_SPEECH_COMMAND_ID17=""
CONFIG_EN_SPEECH_COMMAND_ID18=""
CONFIG_EN_SPEECH_COMMAND_ID19=""
CONFIG_EN_SPEECH_COMMAND_ID20=""
CONFIG_EN_SPEECH_COMMAND_ID21=""
CONFIG_EN_SPEECH_COMMAND_ID22=""
CONFIG_EN_SPEECH_COMMAND_ID23=""
CONFIG_EN_SPEECH_COMMAND_ID24=""
CONFIG_EN_SPEECH_COMMAND_ID25=""
CONFIG_EN_SPEECH_COMMAND_ID26=""
CONFIG_EN_SPEECH_COMMAND_ID27=""
CONFIG_EN_SPEECH_COMMAND_ID28=""
CONFIG_EN_SPEECH_COMMAND_ID29=""
CONFIG_EN_SPEECH_COMMAND_ID30=""
CONFIG_EN_SPEECH_COMMAND_ID31=""
CONFIG_ESP32_S3_CUBE_V2_0_BOARD=y
CONFIG_LV_ATTRIBUTE_FAST_MEM_USE_IRAM=y
CONFIG_LV_COLOR_16_SWAP=y
CONFIG_LV_FONT_MONTSERRAT_28=y
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32S3_INSTRUCTION_CACHE_32KB=y
CONFIG_ESP32S3_DATA_CACHE_64KB=y
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y
CONFIG_ESP32S3_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_TYPE_ESPPSRAM64=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=1024
CONFIG_HTTPD_WS_SUPPORT=y
CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
# CONFIG_ESP_TASK_WDT is not set
CONFIG_FATFS_LFN_HEAP=y
CONFIG_FMB_TIMER_PORT_ENABLED=y
CONFIG_SPI_FLASH_USE_LEGACY_IMPL=y
CONFIG_SPIFFS_OBJ_NAME_LEN=64
